@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Supermercado+One&display=swap');
*{
    margin:0;
    padding:0;
}
.sidebar{
    background-color:rgb(129, 122, 122);
    width:434px;
    height:100vh;
    font-family:'Architects Daughter', cursive;
}
.sidebar nav{
    padding: 5px;
}
.sidebar nav li{
    list-style:none;
    font-size: 30px;
    padding: 15px;
}
.main{
    /* background-color:rgb(0, 0, 0); */
    width:90vw;
    /* background-image: url('mlsc.png'); */
}
.container{
    display:flex;
}
.infoContainer{
    /* background-color:rgb(255, 239, 209); */
    height: 58vh;
    width: 80vw;
    margin: 140px auto;
    display:flex;
    justify-content: space-around;
    border-radius: 15px;
    border-style: groove;
    /* color: white; */
}
.devInfo{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.hello{
    font-size: 60px;
    font-family: 'Supermercado One', cursive;
}
.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}
.about{
    font-size: 35px;
} 
.aboutMore{
    font-size: 25px;
}
.buttons{
    margin-top: 34px;
}
.buttons button{
    padding: 10px;
    border-radius: 52px;
    color:aliceblue;
    background-color:rgb(228, 51, 51);
    font-size: 20px;
    font-family: 'Bangers', cursive;
    /* border-style: groove; */
    margin: 0 5px;
    cursor: pointer;
    }
.buttons button:hover{
    background-color:rgb(55, 87, 231);
    color:gold;
}
.devPic img{
    height: 58vh;
    margin-right: -150px
}